/* ** LEFT SIDE ** */
/* contenitore del ciclo delle immagini grandi */
.array-objects-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
}

/* immagine grande */
.img-big-left {    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* contenitore testo */
.text-box{
    position: absolute;
    z-index: 2;
    width: 40%;
    bottom: 2%;
    right: 2%;
}


/* ** RIGHT SIDE ** */
/* contenitore del ciclo delle immagini grandi */
.imgs-list-right{
    width: 100%;
    height: calc(100% / 5);
    filter: brightness(0.5);
}

.button-box{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
}


/* ** UTILITIES ** */
/* utility opacity (immagine da mostrare/ora selezionata) */
.active{
    opacity: 1;    
}
/* utility brightness (immagine mostrata/ora selezionata) */
.active-img{
    filter: brightness(1);
    border: 2px solid lightgray;
}